@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Poppins-regular";
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-semibold";
  src: url(./assets/fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-bold";
  src: url(./assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-extrabold";
  src: url(./assets/fonts/Poppins/Poppins-ExtraBold.ttf) format("truetype");
  font-style: normal;
  font-display: swap;
}